# Ignore all CSVs except the transformed ones
*.csv
!transformed_full.csv
!transformed_incremental.csv

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# Ignore SQLite DBs (optional - remove if you want to keep them in Git)
*.sqlite
*.db

# Ignore last extraction time file (used only locally)
last_extraction.txt

# Ignore VS Code settings (optional)
.vscode/

